.App {
  text-align: center;
}

.SWheader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(73, 79, 82);
  color: white;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
  color:white;
}
h1{
  text-align: center;
}
.nav-links li {
  padding: 1rem;
}

.nav-links a {
  text-decoration: none;
  color:white;
  font-weight: 800;
}

.MovieContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.movieComponent {
  text-align: center;
}

button {
  margin: .5em;
  text-align: center;
}

.allCharacters {
  text-align: center;
}

.allPlanets {
  text-align: center;
  color: white;
  background-color: rgb(26, 24, 24);
}

.featuredPlanets {
  text-align: center;
}

.characters {
  text-align: center;
}