.root {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.SWheader {
  background: url('images/hyperspeed.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(73, 79, 82);
  color: white;
  border: 4px double white;
}

.SWheader h1{
    color: yellow;
    font-family: 'Orbitron';
    font-weight: bolder;
  }


.nav-links {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
  color:white;
}
h1{
  text-align: center;
}

.nav-links li {
  padding: 1rem;
}

.nav-links a {
  text-decoration: none;
  color:white;
  font-weight: 800;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.MovieContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: url('images/tiefighter.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
  color: rgb(223, 223, 33);
}

.main-title{
  color: yellow;
  text-shadow: 0 -1px black, 0 1px black, 1px 0 black,  -1px 0 black;
  border-bottom: 4px double yellow;
  margin-bottom: 1.3rem;
}

.movieComponent {
  text-align: center;
}

.movieTitle{
  border-bottom: 1px solid white;
  margin-bottom: 1.5rem;
}

button {
  margin: .5em;
  text-align: center;
  font-size: 1rem;
  border-radius: 5px;
}

.allCharacters {
  text-align: center;
  background: url('images/characters.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 1.75rem;
}

.allCharacters h1 {
  font-size: 6vw;
  margin: 0 auto;
  width: 85%;
  font-family: 'monoton';
  word-spacing: 1rem;
  color: rgb(212, 212, 44);
  border-bottom: 1px solid  rgb(212, 212, 44);
  margin-bottom: 2rem;
}

.character-name{
font-size: 4vw;
margin: 1rem;
width: 40%;
display: inline-block;
font-weight: bold;
text-shadow: 0 2px black, 0 -2px black, 2px 0 black, -2px 0 black;
}

.allPlanets {
  text-align: center;
  color: white;
  background: url('images/planet.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.allPlanets h1 {
  font-size: 6vw;
  margin: 0;
  width: 100%;
  font-family: 'Righteous';
  color: rgb(80, 192, 88);
  text-shadow: 0 1px yellow, 0 -1px yellow, 1px 0 yellow, -1px 0 yellow;
  margin-bottom: 2rem;
  padding-top: 1.5rem;
}

.planet-name{
margin: 1rem;
width: 40%;
display: inline-block;
font-weight: bold;
font-size: 4vw;
text-shadow: 0 2px black, 0 -2px black, 2px 0 black, -2px 0 black;
}

.featuredPlanets {
  text-align: center;
  background: url('images/endor.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.featuredPlanets h1 {
  font-size: 6vw;
  padding-bottom: 1rem;
  margin-top: 0;
  font-family: "Righteous";
  text-shadow: 0 1px rgb(193, 230, 125), 0 -1px rgb(193, 230, 125), 1px 0 rgb(193, 230, 125), -1px 0 rgb(193, 230, 125) ;
}

.featuredPlanets p {
  color: white;
  margin: 0;
  font-size: 4vw;
  background-color: rgba(77, 109, 88, 0.7);
  width: fit-content;
  margin: 0 auto;
  border-radius: 4px;
  margin-bottom: 3px;
  padding: 0 4px;
}

.featuredPlanets p:last-child {
  margin-bottom: 0;
}

.characters {
  text-align: center;
  background: url('images/featured-characeters.png');
}
.characters h1 {
  margin-top: 0;
  font-family: 'Anton';
  font-size: 6vw;
  background-color: rgb(228, 211, 211);
  color: rgb(65, 65, 207);
}

.characters div {
  font-size: 4vw;
  background-color: rgba(255,255,255, 0.8);
  width: fit-content;
  margin: 0 auto;
  border-radius: 4px;
  margin-bottom: 3px;
  padding: 0 4px;
}

footer {
  text-align: center;
  color: gold;
  background-color: black;
}

@media (max-width: 690px) {
  .character-name {
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
  }

  .planet-name {
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
  }

  .planet-name:last-child{
    padding-bottom: 1rem;
  }

}

@media(max-width: 640px) {

  .MovieContainer{
    background: url('images/hyperspeed.jpg')
  }

  .nav-links {
    border: 1px dashed red;
    padding: 0;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .nav-links li {
    padding: 0;
  }

  .nav-links a{
    padding: 2px 0;
    border: none;
    text-align: center;
  }
}